{% extends 'base.html' %}

{% block title %}New Post{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('create_post') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>New Post</legend>
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.content.label }}
            {{ form.content(rows=10) }}
        </div>
        <div class="form-group">
            {{ form.picture.label }}
            {{ form.picture }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </fieldset>
</form>
{% endblock %}
