{% extends 'base.html' %}

{% block content %}
<article class="post">
    <h2>{{ post.title }}</h2>
    <p class="meta">Posted by {{ post.author.username }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
    {% if post.picture %}
    <img src="{{ url_for('static', filename='images/' + post.picture) }}" alt="">
    {% endif %}
    <p>{{ post.content }}</p>
</article>
<hr>
{% for comment in comments %}
<div class="comment">
    <p class="meta">Comment by {{ comment.author.username }} on {{ comment.date_posted.strftime('%B %d, %Y') }}</p>
    <p>{{ comment.body }}</p>
</div>
{% endfor %}
{% if current_user.is_authenticated %}
<form method="POST" action="{{ url_for('post', post_id=post.id) }}">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Leave a Comment</legend>
        <div class="form-group">
            {{ form.body.label }}
            {{ form.body(size=10) }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </fieldset>
</form>
{% endif %}
{% endblock %}
